<!DOCTYPE html>
{% load staticfiles %}

    <html>
        <head>
            <title>Ceg Text</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
        <body>
        <hr>
        <div class="content container">
            {% block header %}
                 <div class="bs-example">
                    <ul class="nav nav-pills">
                        <li class=""><a href="{% url 'book_views' %}">Book</a></li>
                        <li class=""><a href="{% url 'author_views' %}">Author</a></li>
                         <li class=""><a href="{% url 'library_views' %}">Library</a></li>
                    </ul>
                </div>
            {% endblock header %}
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}


                {% endblock %}
                </div>
            </div>
        </div>

        <script src="{% static '/js/jquery.min.js' %}"></script>
        <script src="{% static '/js/vue.min.js' %}"></script>
        <script src="{% static '/js/axios.min.js' %}"></script>
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
    </html>