{% extends 'book/base.html' %}
{% load staticfiles %}

 {% block content %}
     <div id="app">
        <div id="table-wrapper" class="ui container">
            <h2><strong>Library</strong></h2>
            <vuetable ref="vuetable"
                api-url="{% url 'library_list' %}"
                :fields="fields"
                :sort-order="sortOrder"
                :css="css.table"
                pagination-path=""
                :per-page="3"
                @vuetable:pagination-data="onPaginationData"
                @vuetable:loading="onLoading"
                @vuetable:loaded="onLoaded"
            >
                <template slot="actions" scope="props">
                  <div class="table-button-container">
                      <button class="btn btn-warning btn-sm" @click="editRow(props.rowData)">
                        <span class="glyphicon glyphicon-pencil"></span> Edit</button>&nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)">
                        <span class="glyphicon glyphicon-trash"></span> Delete</button>&nbsp;&nbsp;
                  </div>
                  </template>

                <template slot="inputField" scope="props">
                    {{ props.rowData.last_name }}
                </template>
            </vuetable>
            <vuetable-pagination ref="pagination"
              :css="css.pagination"
              @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    <script src="{% static '/js/vue-table.js' %}"></script>
    <script src="{% static '/js/library.js' %}"></script>
    {{ seat_map_scripts|safe }}
{% endblock javascripts %}